{% block head %}
    <!DOCTYPE html>
    <html dir="ltr" lang="en">

    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ asset("assets/dashboard/css/style.css")}} />
    <link rel="shortcut icon" href={{ asset("assets/dashboard/images/favicon.ico")}} type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href={{ asset("assets/dashboard/third-party/nice-select2.css")}} />
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href={{ asset("assets/dashboard/third-party/line-awesome/css/line-awesome.min.css")}} />
    <title>{% block title %}
        
    {% endblock %}</title> 
    {% block customStyle %}
        
    {% endblock %}
    </head>

    <body class="vertical bg-secondary1/5 dark:bg-bg3 hidden">
    <!-- Loader -->
    <div class="loader flex items-center justify-center min-w-screen min-h-screen fixed !z-50 inset-0 bg-n0 dark:bg-bg4">
        <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>
    <!-- Navigation -->
    <section class="topbar-container z-30">
        <nav
        class="navbar-top topbarfull z-20 gap-3 bg-n0 py-3 shadow-sm duration-300 border-b border-n0 dark:border-n700 dark:bg-bg4 xl:py-4 xxxl:py-6"
        id="topbar">
        <div class="topbar-inner flex items-center justify-between">
            <div class="flex grow items-center gap-4 xxl:gap-6">
            <a href={{ path('dashboard') }} class="topbar-logo hidden shrink-0">
                <img width="174" height="38" src={{ asset("assets/dashboard/images/logo-with-text.png")}} alt="logo"
                class="logo-full2 hidden lg:block" />
            </a>
            <button class="flex items-center rounded-s-2xl bg-primary px-0.5 py-3 text-xl text-n0"
                id="sidebar-toggle-btn">
                <i class="las la-angle-left text-lg"></i>
            </button>
            <!-- Select layout -->
            <div class="topnav-layout">
                <div id="layout-btn"
                class="flex w-full cursor-pointer items-center justify-between gap-2 rounded-[30px] border border-n30 bg-primary/5 px-4 py-1 dark:border-n500 dark:bg-bg3 lg:py-1.5 xxl:px-6 xxl:py-2">
                <span class="flex select-none items-center gap-2">
                    <i class="las la-border-all text-3xl text-primary"></i>
                    <span id="selected-layout" class="capitalize">Vertical</span>
                </span>
                <i id="drop-arrow" class="las la-angle-down shrink-0 text-lg duration-300"></i>
                </div>
                <ul id="layout"
                class="hide absolute left-0 top-full z-20 w-full origin-top rounded-lg bg-n0 p-2 shadow-[0px_6px_30px_0px_rgba(0,0,0,0.08)] duration-300 dark:bg-bg4">
                <li data-layout="vertical"
                    class="active block cursor-pointer select-none rounded-md p-2 duration-300 hover:text-primary">
                    Vertical
                </li>
                <li data-layout="two-column"
                    class="block cursor-pointer select-none rounded-md p-2 duration-300 hover:text-primary">
                    Two-Column
                </li>
                <li data-layout="hovered"
                    class="block cursor-pointer select-none rounded-md p-2 duration-300 hover:text-primary">
                    Hovered
                </li>
                <li data-layout="horizontal"
                    class="block cursor-pointer select-none rounded-md p-2 duration-300 hover:text-primary">
                    Horizontal
                </li>
                <li data-layout="detached"
                    class="block cursor-pointer select-none rounded-md p-2 duration-300 hover:text-primary">
                    Detached
                </li>
                </ul>
            </div>

            <!-- Search bar -->
            <form class="topnav-search">
                <input type="text" placeholder="Search"
                class="w-full border-none bg-transparent py-2 focus:border-none focus:shadow-none focus:outline-none md:py-2.5 xxl:py-3 ltr:pl-4 rtl:pr-4" />
                <button aria-label="search btn"
                class="flex h-8 w-9 items-center justify-center rounded-full bg-primary text-n0">
                <i class="las la-search text-lg"></i>
                </button>
            </form>
            </div>
            <div class="flex items-center gap-3 sm:gap-4 xxl:gap-6">
            <!-- mobile Search  -->
            <div class="relative lg:hidden">
                <button id="mobile-search-btn"
                class="flex h-10 w-10 cursor-pointer select-none items-center justify-center gap-2 rounded-full border border-n30 bg-primary/5 dark:border-n500 dark:bg-bg3 md:h-12 md:w-12">
                <i class="las la-search"></i>
                </button>
                <div id="mobile-search"
                class="hide invisible absolute -left-8 top-full z-20 flex min-w-max max-w-[250px] origin-[20%_20%] gap-3 overflow-y-auto rounded-md bg-n0 p-3 opacity-0 shadow-[0px_6px_30px_0px_rgba(0,0,0,0.08)] duration-300 dark:bg-bg4">
                <form
                    class="flex w-full items-center justify-between gap-3 rounded-[30px] border border-n30 bg-secondary1/5 p-1 focus-within:border-primary dark:border-n500 dark:bg-bg3 xxl:p-2">
                    <input type="text" placeholder="Search" class="w-full bg-transparent py-1 ltr:pl-4 rtl:pr-4" />
                    <button
                    class="flex h-7 w-7 shrink-0 items-center justify-center rounded-full bg-primary text-n0 lg:h-8 lg:w-8">
                    <i class="las la-search text-lg"></i>
                    </button>
                </form>
                </div>
            </div>
            <!-- dark mode toggle -->
            <button id="darkModeToggle" aria-label="dark mode switch"
                class="h-10 w-10 shrink-0 rounded-full border border-n30 bg-primary/5 dark:border-n500 dark:bg-bg3 md:h-12 md:w-12">
                <i class="las la-sun text-2xl dark:hidden"></i>
                <span class="hidden text-n30 dark:block">
                <i class="las la-moon text-2xl"></i>
                </span>
            </button>
        
            <!-- Profile dropdown -->
            <div class="relative shrink-0">
                <div id="profile-btn" class="w-10 cursor-pointer md:w-12">
                <img src={{ asset("uploads/"~ app.user.image)}} class="rounded-full" width="48" height="48" alt="profile img"/>
                </div>
                <div id="profile"
                class="hide absolute top-full z-20 rounded-md bg-n0 shadow-[0px_6px_30px_0px_rgba(0,0,0,0.08)] duration-300 dark:bg-bg4 ltr:right-0 ltr:origin-top-right rtl:left-0 rtl:origin-top-left">
                <div class="flex flex-col items-center border-b p-3 text-center dark:border-n500 lg:p-4">
                     <img src={{ asset("uploads/"~ app.user.image)}} class="rounded-full" width="48" height="48" alt="profile img"/>
               
                    <h6 class="h6 mt-2">{{app.user.firstname ~ " " ~ app.user.lastname}}</h6>
                    <span class="text-sm">{{app.user.email}}</span>
                </div>
                <ul class="flex w-[250px] flex-col p-4">
                    <li>
                    <a href={{ path("profile") }}
                        class="flex items-center gap-2 rounded-md p-2 duration-300 hover:bg-primary hover:text-n0">
                        <span>
                        <i class="las la-user mt-1 text-xl"></i>
                        </span>
                        Profile
                    </a>
                    </li>
                    
                    <li>
                    <a href={{ path("settings") }}
                        class="flex items-center gap-2 rounded-md p-2 duration-300 hover:bg-primary hover:text-n0">
                        <span>
                        <i class="las la-cog mt-1 text-xl"></i>
                        </span>
                        Settings
                    </a>
                    </li>
                    <li>
                    <a href={{ path('logout') }}
                        class="flex items-center gap-2 rounded-md p-2 duration-300 hover:bg-primary hover:text-n0">
                        <span>
                        <i class="las la-sign-out-alt mt-1 text-xl"></i>
                        </span>
                        Logout
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </nav>

        <!-- Vertical -->
        <aside id="sidebar" class="sidebar bg-n0 dark:!bg-bg4">
        <div class="sidebar-inner relative">
            <div class="logo-column">
            <div class="logo-container">
                <div class="logo-inner">
                <a href={{ path("dashboard") }} class="logo-wrapper">
                    <img src={{ asset("assets/dashboard/images/logo-with-text.png")}} width="174" height="38" class="logo-full" alt="logo" />
                    <img src={{ asset("assets/dashboard/images/logo.png")}} width="37" height="36" class="logo-icon hidden" alt="logo" />
                </a>
                <img width="141" height="38" class="logo-text hidden" src={{ asset("assets/dashboard/images/logo-text.png")}} alt="logo text" />
                <button class="sidebar-close-btn xl:hidden" id="sidebar-close-btn">
                    <i class="las la-times"></i>
                </button>
                </div>
            </div>
            <div class="menu-container pb-28">
                <div class="menu-wrapper">
                <p class="menu-heading">Navigation</p>
                <ul class="menu-ul">
                    <li class="menu-li">
                    <button class="menu-btn border-n30 bg-n0 dark:!border-n500 dark:bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-home"></i>
                        </span>
                        <span class="menu-title font-medium">Dashboard</span>
                        </span>
                       
                    </button>
                    <ul class="submenu-hide submenu">
                    <li>
                      <a href={{ path("dashboard") }} class="submenu-link">
                        <i class="las la-minus text-xl"></i>
                        <span>Dashboard</span>
                      </a>
                    </li>
                    </ul>
                    </li>
                    
                     <li class="menu-li">
                  <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                    <span class="flex items-center justify-center gap-2">
                      <span class="menu-icon">
                        <i class="las la-piggy-bank"></i>
                      </span>
                      <span class="menu-title font-medium">My Accounts</span>
                    </span>
                    <span class="plus-minus">
                      <i class="las la-plus text-xl"></i>
                      <i class="las la-minus text-xl"></i>
                    </span>
                    <span class="chevron-down hidden">
                      <i class="las la-angle-down text-base"></i>
                    </span>
                  </button>
                  <ul class="submenu-hide submenu">
                    <li>
                      <a href={{ path("dashboard") }} class="submenu-link">
                        <i class="las la-minus text-xl"></i>
                        <span>Checking Account</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ path("dashboard") }} class="submenu-link">
                        <i class="las la-minus text-xl"></i>
                        <span>Saving Account</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ path("loan") }} class="submenu-link">
                        <i class="las la-minus text-xl"></i>
                        <span>Loan Information</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ path("card") }} class="submenu-link">
                        <i class="las la-minus text-xl"></i>
                        <span>Card Control</span>
                      </a>
                    </li>
                  </ul>
                </li>
                    
                    <li class="menu-li">
                    <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-wallet"></i>
                        </span>
                        <span class="menu-title font-medium">Payment</span>
                        </span>
                        <span class="plus-minus">
                        <i class="las la-plus text-xl"></i>
                        <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                        <i class="las la-angle-down text-base"></i>
                        </span>
                    </button>
                    <ul class="submenu-hide submenu">
                        <li>
                        <a href={{ path('deposit') }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Make Deposit</span>
                        </a>
                        </li>
                        
                    </ul>
                    </li>
                    <li class="menu-li">
                    <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-wallet"></i>
                        </span>
                        <span class="menu-title font-medium">Transfer</span>
                        </span>
                        <span class="plus-minus">
                        <i class="las la-plus text-xl"></i>
                        <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                        <i class="las la-angle-down text-base"></i>
                        </span>
                    </button>
                    <ul class="submenu-hide submenu">
                        <li>
                        <a href={{ path('withdrawal') }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Make Withdrawal</span>
                        </a>
                        </li>
                        
                    </ul>
                    </li>
                    <li class="menu-li">
                    <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-exchange-alt"></i>
                        </span>
                        <span class="menu-title font-medium">Transaction</span>
                        </span>
                        <span class="plus-minus">
                        <i class="las la-plus text-xl"></i>
                        <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                        <i class="las la-angle-down text-base"></i>
                        </span>
                    </button>
                    <ul class="submenu-hide submenu">
                        <li>
                        <a href={{ path("transactions") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Transaction History</span>
                        </a>
                        </li>
                        
                    </ul>
                    </li>
                    <li class="menu-li">
                    <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-cog"></i>
                        </span>
                        <span class="menu-title font-medium">Settings</span>
                        </span>
                        <span class="plus-minus">
                        <i class="las la-plus text-xl"></i>
                        <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                        <i class="las la-angle-down text-base"></i>
                        </span>
                    </button>
                    <ul class="submenu-hide submenu">
                        <li>
                        <a href={{ path("profile") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Profile</span>
                        </a>
                        </li>
                        <li>
                        <a href={{ path("settings") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Security</span>
                        </a>
                        </li>
                       
                    </ul>
                    </li>
                    
                    <li class="menu-li">
                    <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                        <span class="menu-icon">
                            <i class="las la-chart-bar"></i>
                        </span>
                        <span class="menu-title font-medium">Trading</span>
                        </span>
                        <span class="plus-minus">
                        <i class="las la-plus text-xl"></i>
                        <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                        <i class="las la-angle-down text-base"></i>
                        </span>
                    </button>
                    <ul class="submenu-hide submenu">
                        <li>
                        <a href={{ path("investment") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Investment</span>
                        </a>
                        </li>
                         <li>
                        <a href={{ path("investments") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Investment History</span>
                        </a>
                        </li>
                       
                    </ul>
                    </li>
                    <li class="menu-li">
                      <button class="menu-btn group bg-n0 dark:!border-n500 dark:!bg-bg4">
                        <span class="flex items-center justify-center gap-2">
                          <span class="menu-icon">
                            <i class="las la-handshake"></i>
                          </span>
                          <span class="menu-title font-medium">Support</span>
                        </span>
                        <span class="plus-minus">
                          <i class="las la-plus text-xl"></i>
                          <i class="las la-minus text-xl"></i>
                        </span>
                        <span class="chevron-down hidden">
                          <i class="las la-angle-down text-base"></i>
                        </span>
                      </button>
                      <ul class="submenu-hide submenu">
                      
                        <li>
                          <a href={{ path("contact") }} class="submenu-link">
                            <i class="las la-minus text-xl"></i>
                            <span>Contact Us</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                      
                </ul>
                </div>
                <div class="px-4 xxl:px-6 xxxl:px-8">
                {# <div class="balance-part">
                    <p class="border-t-2 border-dashed border-primary/20 py-4 text-xs font-semibold lg:py-6">
                    Balance
                    </p>
                    <ul>
                    <li>
                        <button
                        class="group flex w-full items-center justify-between rounded-xl px-4 py-2.5 lg:py-3 xxxl:px-6">
                        <span class="flex items-center gap-2">
                            <span class="-mb-1 self-center text-primary">
                            <i class="las la-dollar-sign"></i>
                            </span>
                            <span class="font-medium">33,215.00 USD</span>
                        </span>
                        </button>
                        <button
                        class="group flex w-full items-center justify-between rounded-xl px-4 py-2.5 lg:py-3 xxxl:px-6">
                        <span class="flex items-center gap-2">
                            <span class="-mb-1 self-center text-primary">
                            <i class="las la-euro-sign"></i>
                            </span>
                            <span class="font-medium">15,254.32 EUR</span>
                        </span>
                        </button>
                        <button
                        class="group flex w-full items-center justify-between rounded-xl px-4 py-2.5 lg:py-3 xxxl:px-6">
                        <span class="flex items-center gap-2">
                            <span class="-mb-1 self-center text-primary">
                            <i class="las la-pound-sign"></i>
                            </span>
                            <span class="font-medium">7,029.14 GBP</span>
                        </span>
                        </button>
                        <button
                        class="group flex w-full items-center justify-between rounded-xl px-4 py-2.5 lg:py-3 xxxl:px-6">
                        <span class="flex items-center gap-2">
                            <span class="-mb-1 self-center text-primary">
                            <i class="las la-plus-circle"></i>
                            </span>
                            <span class="font-medium">Add More Balance</span>
                        </span>
                        </button>
                    </li>
                    </ul>
                </div>  #}
                 <div class="upgrade-part">
                    <img src={{ asset("assets/dashboard/images/upgrade.png")}} width="272" height="173" alt="upgrade" />
                    {# <p class="mb-8 mt-6 text-sm">
                    Upgrade your account to
                    <span class="font-semibold text-primary">PRO</span> for even
                    more examples.
                    </p>
                    <a href="#" class="btn flex w-full justify-center">
                    Upgrade Now #}
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </aside>
    </section>
{% endblock %}

{% block main %}
    
{% endblock %}

{% block footer %}
     <footer class="footer bg-n0 dark:bg-bg4">
  <div
    class="flex flex-col items-center justify-center gap-3 px-4 py-5 lg:flex-row lg:justify-between xxl:px-8">
    <p class="text-sm max-md:w-full max-md:text-center lg:text-base">
      Copyright @ <span id="current-year"></span>
      <a class="text-primary" href="/"> Digihost </a>
     
    </p>
    <div class="justify-center max-md:flex max-md:w-full"></div>
    <ul class="flex gap-2 xxxl:gap-3">
  <li>
    <a
      href="#"
      aria-label="social link"
      class="inline-flex rounded-full border border-primary p-1 text-primary duration-300 hover:bg-primary hover:text-n0 md:p-1.5 xxxl:p-2">
      <i class="lab la-facebook-f"></i>
    </a>
  </li>
  <li>
    <a
      href="#"
      aria-label="social link"
      class="inline-flex rounded-full border border-primary p-1 text-primary duration-300 hover:bg-primary hover:text-n0 md:p-1.5 xxxl:p-2">
      <i class="lab la-twitter"></i>
    </a>
  </li>
  <li>
    <a
      href="#"
      aria-label="social link"
      class="inline-flex rounded-full border border-primary p-1 text-primary duration-300 hover:bg-primary hover:text-n0 md:p-1.5 xxxl:p-2">
      <i class="lab la-skype"></i>
    </a>
  </li>
  <li>
    <a
      href="#"
      aria-label="social link"
      class="inline-flex rounded-full border border-primary p-1 text-primary duration-300 hover:bg-primary hover:text-n0 md:p-1.5 xxxl:p-2">
      <i class="lab la-instagram"></i>
    </a>
  </li>
  <li>
    <a
      href="#"
      aria-label="social link"
      class="inline-flex rounded-full border border-primary p-1 text-primary duration-300 hover:bg-primary hover:text-n0 md:p-1.5 xxxl:p-2">
      <i class="lab la-linkedin-in"></i>
    </a>
  </li>
</ul>

    
  </div>
</footer>

 {% block modal %}
     <!-- modal -->
  <div class="ac-modal-overlay fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
  <div class="overflow-y-auto">
    <div
      class="modal box modal-inner absolute left-1/2 my-10 max-h-[90vh] w-[95%] max-w-[710px] duration-300 -translate-x-1/2 overflow-y-auto xl:p-8">
      <!-- { "translate-y-0 scale-100 opacity-100 my-10": open } -->
      <div class="relative">
        <button class="ac-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0">
          <i class="las la-times"></i>
        </button>
        <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
          <h4 class="h4">Get A Loan</h4>
        </div>
        <form id="loanform">
          
            <div class="col-span-2">
              <label for="amount" class="mb-4 block font-medium md:text-lg">
                Amount
              </label>
              <input type="number"
                class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3"
                placeholder="Enter Amount" name="amount" id="amount" required />
            </div>
            <div class="col-span-2">
              <label for="status" class="mb-4 block font-medium md:text-lg">
                Select Duration
              </label>
              <select name="currency" class="nc-select full dark:!border-n500">
              <option value="inactive">1 Week</option>
                <option value="active">1 Month</option>
                <option value="inactive">3 Month</option>
                <option value="active">6 Month</option>
                <option value="inactive">1 Year</option>
                <option value="active">2 Years</option>
                
              </select>
            </div>
             <div class="col-span-2 md:col-span-1">
                    <label for="account" class="mb-4 md:text-lg font-medium block">
                    2FA Authorization Code
                    </label>
                    <input type="number"
                    class="w-full text-sm  bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3"
                    placeholder="0000" maxLength="4" name="pin" id="pin" required />
                </div>
            <br>
            <div class="col-span-2 mt-4">
              <button class="btn flex w-full justify-center" id="loanbtn" type="submit">
               Loan 
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
 {% endblock %}
  <!-- Theme Customizer  -->
  <div id="customizer-container" class="z-[60] w-full"></div>
  <script src={{ asset("assets/dashboard/js/apexcharts.min.js")}}></script>
  <script src={{ asset("assets/dashboard/js/customizer.js")}}></script>
  <script src={{ asset("assets/dashboard/third-party/nice-select2.js")}}></script>
  <script src="https://unpkg.com/js-datepicker"></script>
  <script src={{ asset("assets/dashboard/js/main.js")}}></script>
  <script src={{ asset("assets/dashboard/js/charts.js")}}></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//code.tidio.co/64lfxmw6cf5s96yjyr6oujrmgticsxyt.js" async></script>
  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e6ce2e3bd8716e93d6fe524e2b20e4dcfd23d676';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  {% block customJs %}
    
  {% endblock %}
</body>

</html>
{% endblock %}